<div class="row">
  @for (sale of sales; track sale) {
    <div class="{{ sale.design }} col-xl-4">
      <app-card [hidHeader]="true">
        <h6 class="mb-4">
          <b>{{ sale.title }}</b>
        </h6>
        <div class="row d-flex align-items-center">
          <div class="col-9">
            <h3 class="f-w-300 d-flex align-items-center m-b-0">
              <i class="feather {{ sale.icon }} f-30 m-r-10"></i>
              {{ sale.amount.toLocaleString('en-US', { maximumFractionDigits: 2 }) }}
            </h3>
          </div>
        </div>
      </app-card>
    </div>
  }
  <div>
    <app-card cardTitle="Detailed Transaction Report" blockClass="p-0">
      <div class="table-responsive">
        <table class="table table-hover mb-0">
          <tbody>
            @for (r of reports; track r) {
              <tr class="unread" (click)="showReport(r)">
                <td># {{ r.id }}</td>
                <td>
                  <h6 class="mb-1">
                    <b>{{ r.title }}</b>
                  </h6>
                  <p class="m-0">{{ r.text }}</p>
                </td>
              </tr>
            }
          </tbody>
        </table>
      </div>
    </app-card>
  </div>
</div>
